$light-color: whitesmoke;
$dark-color: #333;

$light-accent-color: darkorange;
$light-secondary-color: adjust_hue($light-accent-color, 350);

$light-alt-accent-color: #13949f;

$dark-accent-color: #EF5350;
$dark-secondary-color: darken($dark-accent-color, 13);