.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 9999;
	height: 350px;
	pointer-events: none;
	font-family: "Lato", "Arial", sans-serif;
}

.fixedHeader {
	padding-top: 200px;
}

.midnightSection {
	height: 500px;
	width: 100%;
}

.midnightHeader.default {
	font-weight: normal;
	color: white;
	font-size: 7em;
	text-shadow: none;
}

.midnightHeader.ultrathin {
	@extend .midnightHeader.default;
	font-weight: 100;
	color: #FFD700;
}

.midnightHeader.thin {
	@extend .midnightHeader.default;
	font-weight: 300;
	color: #8672BF;
}

.midnightHeader.normal {
	@extend .midnightHeader.default;
	font-weight: 400;
	color: #72BFB9;
}

.midnightHeader.thick {
	@extend .midnightHeader.default;
	font-weight: 700;
	color: #BF7472;
}

.midnightHeader.ultrathick {
	@extend .midnightHeader.default;
	font-weight: 900;
	color: #72BF87;
}

@media screen and (min-width: 768px) {
	.content {
		padding-bottom: 100px;
	}
}