#ultimate td {
    box-sizing: content-box;
}

table {
	border-collapse: collapse;

	table {
		margin: 10px;

		td {
			height: 50px;
			width: 50px;
			text-align: center;

			&:after {
				content: "";
				display: inline-block;
				position: relative;
				top: 2px;
				left: 0;
				background-color: white;
				border-radius: 2px;
				width: 0px;
				height: 0px;
				@include transition(0.2s linear);
			}
		}
	}
}

.possible {
	cursor: pointer;

	&:after {
		background-color: #FFF98C;
		width: 45px;
		height: 45px;
		@include animation(blink 2s infinite);
	}
}

@include keyframes(blink) {
	0% {opacity: 1;}
	50% {opacity: 0.7;}
	100% {opacity: 1;}
}

.Red:after {
	background-color: #FFA38C;
	width: 45px;
	height: 45px;
}

.Blue:after {
	background-color: #8CA3FF;
	width: 45px;
	height: 45px;
}

table.Red {
	background-color: #FFD7BF;
	border-radius: 5px;
}

table.Blue {
	background-color: #BFD7FF;
	border-radius: 5px;
}

#ultimate > tbody > tr > td:nth-child(2) {
	border-left: 3px solid #555;
	border-right: 3px solid #555;
}

#ultimate > tbody > tr:nth-child(2) > td {
	border-top: 3px solid #555;
	border-bottom: 3px solid #555;
}

table table td:nth-child(2) {
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

table table tr:nth-child(2) > td {
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

@media(max-width: 568px) {
	table table {
		margin: 5px;

		td {
			height: 25px;
			width: 25px;
		}
	}

	.possible:after {
		width: 20px;
		height: 20px;
	}

	.Red:after {
		width: 20px;
		height: 20px;
	}

	.Blue:after {
		width: 20px;
		height: 20px;
	}
}
