include ../../partials/mixins

doctype html
html
  head
    +head("Experimental")
    link(rel="shortcut icon" href="../../assets/icons/tv.png")
    link(rel="stylesheet" type="text/css" href="../../uikit.css")
    link(rel="stylesheet" type="text/css" href="style.css")

  body
    +floatingBreadcrumbs("random", "testing")(class="uk-light")
    #rendererContainer
