@use 'sass:color';

@use '../../partials/colors';
@use '../../partials/uikit-overrides/variables';

@use '../../partials/floating-header';

$day: #c0cfe2;
$night: color.adjust($day, $lightness: -70%, $space: hsl);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: $day;
  transition: background-color 5s;

  &.night {
    background-color: $night;
  }
}
