include ../../partials/mixins

doctype html
html
  head
    +head("Chemistry Calculators")
    link(rel="shortcut icon" href="../../assets/icons/chemistry.png")
    link(rel="stylesheet" type="text/css" href="../../uikit.css")
    link(rel="stylesheet" type="text/css" href=require("katex/dist/katex.css").default)
    link(rel="stylesheet" type="text/css" href="../../global.css")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    +container(["projects", "chemistry"])
      div(uk-grid)
        div(class="uk-width-medium@m")
          ul.uk-tab-left.uk-tab-stacked(uk-tab uk-sticky="offset: 40; media: @m" uk-switcher="connect: #switcher; animation: uk-animation-fade")
            li: a(href="#") Molar Mass
            li: a(href="#") Dilution
            li: a(href="#") Ideal Gas Law
            li: a(href="#") Specific Heat Capacity
        .uk-width-expand.uk-margin-remove-top
          #switcher.uk-switcher
            div
              h3 Molar mass calculator
              p In chemistry, the #[a.uk-link(href="https://en.wikipedia.org/wiki/Molar_mass" target="_blank") molar mass] is a physical property that is defined as the mass of a substance divided by the amount of the substance. This calculator solves for the molar mass of a chemical formula and the mass percent of each element in the formula.
              p
                | Example:
                | The chemical formula for magnesium stearate, a compound found in some medical tablets, is #[span(data-katex-expr="Mg \\left(CH_3 \\left(CH_2 \\right)_{16}CO_2 \\right)_2")] and would be entered below as Mg(CH3(CH2)16CO2)2.
              #molarMassInput.uk-inline.uk-width-1-1
                a.uk-form-icon.uk-form-icon-flip(uk-icon="close")
                input.uk-input(type="text" placeholder="Chemical formula")
              #molarMassFormulaContainer.uk-margin-small
                #molarMassFormula.uk-text-center
                #molarMassInputError.uk-text-danger(hidden)
              .uk-overflow-auto
                table#molarMassTable.uk-table.uk-table-small.uk-table-divider.uk-table-middle
                  thead
                    th Element
                    th Atoms
                    th Mass In Compound #[small (g&nbsp;/&nbsp;mol)]
                    th Mass Percent
                  tbody
                  tfoot
                    tr
                      td Total:
                      td#molarMassTotalAtomCount 0
                      td#molarMassTotalMass 0.0000
                      td
            div
              h3 Dilution calculator
              p The #[a.uk-link(href="https://en.wikipedia.org/wiki/Dilution_(equation)" target="_blank") Dilution] equation calculates a required value to achieve the specified concentration. This calculator uses the formula #[span(data-katex-expr="\\textstyle M_1 \\times V_1 = M_2 \\times V_2")] where #[span(data-katex-expr="M_1")] and #[span(data-katex-expr="M_2")] are the molarity of the solutions and #[span(data-katex-expr="V_1")] and #[span(data-katex-expr="V_2")] are the volumes of the solutions. The highlighted input will be computed when "Calculate" is clicked.
              p.uk-text-center(data-katex-expr="\\displaystyle M_1 \\times V_1 = M_2 \\times V_2")
              .uk-form-group.uk-flex.uk-margin-small
                input#dilutionM1.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Molarity (M1)")
                select#dilutionM1Units.uk-select.uk-form-width-small
                  option(value="M") molar
                  option(value="mM") millimolar
              .uk-form-group.uk-flex.uk-margin-small
                input#dilutionV1.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Volume (V1)")
                select#dilutionV1Units.uk-select.uk-form-width-small
                  option(value="L") L
                  option(value="mL") mL
                  option(value="m3") m&sup3;
                  option(value="cm3") cm&sup3;
              .uk-form-group.uk-flex.uk-margin-small
                input#dilutionM2.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Molarity (M2)")
                select#dilutionM2Units.uk-select.uk-form-width-small
                  option(value="M") molar
                  option(value="mM") millimolar
              .uk-form-group.uk-flex.uk-margin-small
                input#dilutionV2.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Volume (V2)")
                select#dilutionV2Units.uk-select.uk-form-width-small
                  option(value="L") L
                  option(value="mL") mL
                  option(value="m3") m&sup3;
                  option(value="cm3") cm&sup3;
              .uk-margin.uk-text-right
                button#dilutionCalculate.uk-button.uk-button-primary Calculate
                |
                |
                button.uk-button.uk-button-default Clear
            div
              h3 Ideal gas law calculator
              p The #[a.uk-link(href="https://en.wikipedia.org/wiki/Ideal_gas_law" target="_blank") Ideal Gas Law] is the equation for a hypothetical ideal gas. It is used to predict certain measurements of a gas under normal conditions. This calculator uses the formula #[span(data-katex-expr="PV = nRT")]  to accurately tell the pressure #[span(data-katex-expr="\\left(P\\right)")], volume #[span(data-katex-expr="\\left(V\\right)")], number of moles #[span(data-katex-expr="\\left(n\\right)")], or the temperature #[span(data-katex-expr="\\left(T\\right)")]. In this equation, #[span(data-katex-expr="R")] is the ideal, or universal, gas constant. It is derived from the #[a.uk-link(href="https://en.wikipedia.org/wiki/Combined_gas_law" target="_blank") combined gas law], (which explores the relationship between temperature, pressure and volume) and #[a.uk-link(href="https://en.wikipedia.org/wiki/Avogadro%27s_law" target="_blank") Avogadro's law] (which states that under the same conditions of temperature and pressure, the same volume of all gases contains the same number of molecules). The highlighted input will be computed when "Calculate" is clicked.
              p.uk-text-center(data-katex-expr="\\displaystyle PV = nRT")
              p.uk-text-center Gas Constant #[span(data-katex-expr="\\left(R\\right) = 0.0820573 \\frac{L \\times atm}{mol \\times K} = 8.3144621 \\frac{J}{mol \\times K}")]
              .uk-form-group.uk-flex.uk-margin-small
                input#idealGasLawP.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Pressure (P)")
                select#idealGasLawPUnits.uk-select.uk-form-width-small
                  option(value="atm") atm
                  option(value="mmHg") mmHg
                  option(value="Pa") Pa
                  option(value="kPa") kPa
                  option(value="torr") torr
              .uk-form-group.uk-flex.uk-margin-small
                input#idealGasLawV.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Volume (V)")
                select#idealGasLawVUnits.uk-select.uk-form-width-small
                  option(value="L") L
                  option(value="mL") mL
                  option(value="m3") m&sup3;
                  option(value="cm3") cm&sup3;
              .uk-form-group.uk-flex.uk-margin-small
                input#idealGasLawN.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Moles (n)")
                select#idealGasLawNUnits.uk-select.uk-form-width-small
                  option(value="mol") mole
                  option(value="mmol") millimole
              .uk-form-group.uk-flex.uk-margin-small
                input#idealGasLawT.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Temperature (T)")
                select#idealGasLawTUnits.uk-select.uk-form-width-small
                  option(value="K") K
                  option(value="C") C&#176;
                  option(value="F") F&#176;
              .uk-margin.uk-text-right
                button#idealGasLawCalculate.uk-button.uk-button-primary Calculate
                |
                |
                button.uk-button.uk-button-default Clear
            div
              h3 Specific heat calculator
              p The #[a.uk-link(href="https://en.wikipedia.org/wiki/Heat_capacity" target="_blank") specific heat capacity] of a substance is defined as the amount of energy needed to raise the temperature of the substance by a given amount. This calculator uses the equation #[span(data-katex-expr="Q = mC_p\\Delta T")] where #[span(data-katex-expr="Q")] is the amount of energy, #[span(data-katex-expr="m")] is the mass of the substance, #[span(data-katex-expr="C_p")] is the specific heat capacity, and #[span(data-katex-expr="\\Delta T")] is the change in temperature. The highlighted input will be computed when "Calculate" is clicked.
              p.uk-text-center(data-katex-expr="\\displaystyle Q = mC_p\\Delta T")
              .uk-form-group.uk-flex.uk-margin-small
                input#specificHeatQ.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Energy (Q)")
                select#specificHeatQUnits.uk-select.uk-form-width-small
                  option(value="J") Joules
                  option(value="cal") Calories
              .uk-form-group.uk-flex.uk-margin-small
                input#specificHeatM.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Mass (m)")
                select#specificHeatMUnits.uk-select.uk-form-width-small
                  option(value="g") grams
                  option(value="kg") kilograms
              .uk-form-group.uk-flex.uk-margin-small
                input#specificHeatCp.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Specific Heat (Cp)")
                select#specificHeatCpUnits.uk-select.uk-form-width-small
                  option(value="JgK") J/g&#8901;K
                  option(value="JkgK") J/kg&#8901;K
              .uk-form-group.uk-flex.uk-margin-small
                input#specificHeatT.uk-input.uk-flex-1(type="number" min="0" step="any" placeholder="Temperature (T)")
                select#specificHeatTUnits.uk-select.uk-form-width-small
                  option(value="K") K
                  option(value="C") C&#176;
                  option(value="F") F&#176;
              .uk-margin.uk-text-right
                button#specificHeatCalculate.uk-button.uk-button-primary Calculate
                |
                |
                button.uk-button.uk-button-default Clear
