include ../../partials/mixins

doctype html
html
  head
    +head("Chemistry Calculators")
    link(rel="shortcut icon" href="../../assets/icons/chemistry.png")
    link(rel="stylesheet" type="text/css" href="../../uikit.css")
    link(rel="stylesheet" type="text/css" href=require("katex/dist/katex.css").default)
    link(rel="stylesheet" type="text/css" href="../../global.css")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    +container(["projects", "chemistry"])
      div(uk-grid)
        div(class="uk-width-medium@m")
          ul.uk-tab-left.uk-tab-stacked(uk-tab uk-sticky="offset: 40; media: @m" uk-switcher="connect: #switcher; animation: uk-animation-fade")
            li: a(href="#") Molar Mass
            li: a(href="#") Dilution
            li.uk-disabled: a(href="#") Ideal Gas Law
            li.uk-disabled: a(href="#") Specific Heat Capacity
        .uk-width-expand.uk-margin-remove-top
          #switcher.uk-switcher
            div
              h3 Molar mass calculator
              p In chemistry, the #[a.uk-link(href="https://en.wikipedia.org/wiki/Molar_mass" target="_blank") molar mass] is a physical property that is defined as the mass of a substance divided by the amount of the substance. This calculator solves for the molar mass of a chemical formula and the mass percent of each element in the formula.
              p
                | Example:
                | The chemical formula for magnesium stearate, a compound found in some medical tablets, is #[span(data-katex-expr="Mg \\left(CH_3 \\left(CH_2 \\right)_{16}CO_2 \\right)_2")] and would be entered below as Mg(CH3(CH2)16CO2)2.
              #molarMassInput.uk-inline.uk-width-1-1
                a.uk-form-icon.uk-form-icon-flip(uk-icon="close")
                input.uk-input(type="text" placeholder="Chemical formula")
              #molarMassFormulaContainer.uk-margin-small
                #molarMassFormula.uk-text-center
                #molarMassInputError.uk-text-danger(hidden)
              .uk-overflow-auto
                table#molarMassTable.uk-table.uk-table-small.uk-table-divider.uk-table-middle
                  thead
                    th Element
                    th Atoms
                    th Mass In Compound #[small (g&nbsp;/&nbsp;mol)]
                    th Mass Percent
                  tbody
                  tfoot
                    tr
                      td Total:
                      td#molarMassTotalAtomCount 0
                      td#molarMassTotalMass 0.0000
                      td
            div
              h3 Dilution calculator
              p The #[a.uk-link(href="https://en.wikipedia.org/wiki/Dilution_(equation)" target="_blank") Dilution] equation calculates a required value to achieve the specified concentration. This calculator uses the formula #[span(data-katex-expr="\\textstyle M_1 \\times V_1 = M_2 \\times V_2")] where #[span(data-katex-expr="M_1")] and #[span(data-katex-expr="M_2")] are the molarity of the solutions and #[span(data-katex-expr="V_1")] and #[span(data-katex-expr="V_2")] are the volumes of the solutions. The highlighted input will be computed
              .uk-form-group.uk-flex.uk-margin-small
                input#dilutionM1.uk-input.uk-flex-1(type="number" placeholder="Molarity (M1)")
                select#dilutionM1Units.uk-select.uk-form-width-small
                  option(value="M") molar
                  option(value="mM") millimolar
              .uk-form-group.uk-flex.uk-margin-small
                input#dilutionV1.uk-input.uk-flex-1(type="number" placeholder="Volume (V1)")
                select#dilutionV1Units.uk-select.uk-form-width-small
                  option(value="L") L
                  option(value="mL") mL
                  option(value="m3") m&sup3;
                  option(value="cm3") cm&sup3;
              .uk-form-group.uk-flex.uk-margin-small
                input#dilutionM2.uk-input.uk-flex-1(type="number" placeholder="Molarity (M2)")
                select#dilutionM2Units.uk-select.uk-form-width-small
                  option(value="M") molar
                  option(value="mM") millimolar
              .uk-form-group.uk-flex.uk-margin-small
                input#dilutionV2.uk-input.uk-flex-1(type="number" placeholder="Volume (V2)")
                select#dilutionV2Units.uk-select.uk-form-width-small
                  option(value="L") L
                  option(value="mL") mL
                  option(value="m3") m&sup3;
                  option(value="cm3") cm&sup3;
              .uk-margin.uk-text-right
                button.uk-button.uk-button-primary Calculate
                |
                |
                button.uk-button.uk-button-default Clear
            div Under construction
            div Under construction
