include ../../partials/mixins

doctype html
html
  head
    +head("GLSL Shaders")
    link(rel='shortcut icon', href='../../assets/icons/chip.png')
    link(rel='stylesheet', type='text/css', href='../../uikit.css')
    link(rel='stylesheet', type='text/css', href='style.css')

  body
    +floatingBreadcrumbs("random", "shaders")
      .uk-flex-none
        button.uk-button.uk-button-default.uk-button-small(style={ background: "black" }) Camera #[span(uk-icon='triangle-down')]
        div(uk-dropdown='mode: click')
          ul#cubeDropdown.uk-nav.uk-dropdown-nav
            li: a#overview.view(href='javascript:void(0)') Overview
    #rendererContainer
