# batch scripts
*.bat

# bower components
bower_components/

# bourbon files
bourbon/

# sass cache files
.sass-cache/

# source map files
*.css.map
*.js.map

# atom files
.atom*

# compiled css files
global.css
origami.css
photography/photoicons.css
style.css