$light-color: white;
$dark-color: #333;

$light-accent-color: #ff892e;
$light-secondary-color: darken($light-accent-color, 13);

$light-alt-accent-color: #13949f;

$dark-accent-color: #EF5350;
$dark-secondary-color: darken($dark-accent-color, 13);