$light-color: white;
$dark-color: #333;

$light-accent-color: #dc6700;
$light-secondary-color: lighten($light-accent-color, 13);

$light-alt-accent-color: #13949f;

$dark-accent-color: #EF5350;
$dark-secondary-color: darken($dark-accent-color, 13);