@import "bourbon/bourbon";
@import "colors/colors";

.construction {
	z-index: 99999999;
	position: absolute;
	top: 40px;
	left: -60px;
	width: 250px;
	background: $dark-accent-color;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: $light-color;
	@include transform(rotate(-45deg));
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	color: white;
	background-color: #131d29;

	@include selection {
		background-color: $light-color;
		color: $dark-color;
	}

	a {
		color: $dark-accent-color;
	}

	a:hover, a:focus {
		color: $dark-secondary-color;
	}
}

.vdiv {
	@include flex-grow(1);
}

#menuContainer {
	@include display(flex);
	@include flex-direction(column);
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 20px;
	opacity: 0;
	background-color: rgba(tint(#131d29, 10), 0.75);
	font-family: "Quicksand", sans-serif;
	@include transform(scale(2));
	@include transition(0.75s);

	&.in {
		z-index: auto;
		opacity: 1;
		@include transform(scale(1));
	}

	.menu {
		.group {
			@include display(flex);

			.submenu, .item {
				@include flex-grow(1);
			}
		}

		.divider, .submenu, .item {
			display: block;
			margin: 0 20px;

			.icon {
				width: 24px;
				line-height: 24px;
				border-radius: 3px;
			}
		}

		.divider {
			font-size: 150%;
		}

		.item {
			color: #cccccc;
		}
	}
}

#rendererContainer {
	@include display(flex);
	@include flex-direction(column);
	width: 100%;
	height: 100%;
}