@import "bourbon/bourbon";
@import "colors/colors";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	color: white;
	background-color: #131d29;

	@include selection {
		background-color: $light-color;
		color: $dark-color;
	}

	a {
		color: $dark-accent-color;
	}

	a:hover, a:focus {
		color: $dark-secondary-color;
	}
}

#title {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	@include transform(translate(-50%, -50%));
}