@import "bourbon/bourbon";
@import "colors/colors";

.construction {
	z-index: 99999999;
	position: absolute;
	top: 40px;
	left: -60px;
	width: 250px;
	background: $dark-accent-color;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: $light-color;
	@include transform(rotate(-45deg));
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	color: white;
	background-color: #131d29;

	@include selection {
		background-color: $light-color;
		color: $dark-color;
	}

	a {
		color: $dark-accent-color;
	}

	a:hover, a:focus {
		color: $dark-secondary-color;
	}
}

.menu {
	position: absolute;
	left: 50%;
	opacity: 0;
	background-color: tint(#131d29, 10);
	padding: 10px;
	font-family: "Quicksand", sans-serif;
	@include transform(translateX(-50%));

	&.top {
		top: 20px;
	}

	&.bottom {
		bottom: 20px;
	}

	.group {
		@include display(flex);

		.submenu, .item {
			@include flex-grow(1);
		}
	}

	.divider, .submenu, .item {
		display: block;
		margin: 0 20px;

		.icon {
			width: 24px;
			line-height: 24px;
			border-radius: 3px;
		}
	}

	.divider {
		font-size: 150%;
	}

	.item {
		color: #cccccc;
	}
}

#rendererContainer {
	width: 100%;
	height: 100%;
}