{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "no-console": "off",
    "no-shadow": "warn",
    "no-unused-vars": "warn",
    "prefer-template": "warn",
    "eqeqeq": "warn"
  }
}
