@import "../bourbon/bourbon";
@import "../colors/colors";

.construction {
	z-index: 99999999;
	position: absolute;
	top: 40px;
	left: -60px;
	width: 250px;
	background: $dark-accent-color;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: $light-color;
	@include transform(rotate(-45deg));
}

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	font-family: 'Arvo', sans-serif;
	background: #121212;
	color: whitesmoke;

	&.invisible, &.revealing {
		background: whitesmoke;
	}

	&.invisible .content {
		display: none;
	}
}

svg {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid whitesmoke;

	circle {
		fill: #121212;
	}
}

.content {
	height: 100%;
	text-align: center;

	h1 {
		// text-shadow: 2px 2px gray;
	}
}
