html, body {
	height: 100%;
}

body {
	text-align: center;
	color: white;
	background: url("../../img/tiles.png") #222;
	box-shadow: inset 0 0 100px black;
}

.cover {
	padding: 0 20px;
	width: 100%;
	margin: auto;
}

@media screen and (min-width: 992px) {
	.cover {
		width: 700px;
	}
}