include ../../partials/mixins

doctype html
html
  head
    +head('Driving Simulation', (gfonts = ['Share', 'Inconsolata']))
    link(rel='shortcut icon', href='/img/icons/network.png')
    link(rel='stylesheet', type='text/css', href='/uikit.scss')
    link(rel='stylesheet', type='text/css', href='/projects/driving/style.scss')
    script(type='module', src='/projects/driving/script.ts')

  body
    +container(['projects', 'driving'])
      p A genetic algorithm that teaches itself to navigate a track without bumping into walls.
      p The car is controlled by a network structure which takes inputs from three sensors and the car's current speed and produces three outputs for acceleration, brakes, and steering. The genetic algorithm selectively chooses network weights for the next generation from the genomes which performed the best in the last generation.
      #stats.uk-margin
        div Generation:&nbsp;#[span#generation.stat 0], Genome:&nbsp;#[span#genome.stat 0]
        div Best&nbsp;Fitness:&nbsp;#[span#bestFitness.stat 0.00]
        div Fitness:&nbsp;#[span#fitness.stat 0.00], Avg.&nbsp;Speed:&nbsp;#[span#avgSpeed.stat 0.00]
        .uk-button-group.uk-margin-small-top
          button#start.uk-button.uk-button-default.uk-button-small Start
          button#pause.uk-button.uk-button-default.uk-button-small Pause
          button#kill.uk-button.uk-button-default.uk-button-small Kill Current
          button#reset.uk-button.uk-button-default.uk-button-small Reset
      canvas#canvas.uk-margin-small
      .uk-margin-small.uk-grid-small.uk-child-width-1-2(
        uk-grid,
        style={ 'justify-content': 'center' }
      )
        div(style={ 'max-width': '217px' })
          canvas#net
        div(style={ 'max-width': '217px' })
          canvas#carStatus
