@use '../../partials/colors';

canvas {
  background: colors.$black;
  border: 1px solid colors.$darkgray;
}

#canvas {
  display: block;
  border: none;
  margin: 0 auto;
}

#stats {
  text-align: center;

  .stat {
    font-family: 'Inconsolata', monospace;
    white-space: pre;
  }
}
