$black: black;
$muted: #161616;
$darkgray: #595959;
$gray: #999999;
$lightgray: #bbbbbb;
$light: #eeeeee;
$white: white;

$red: #f85a3e;
$darkred: darken($red, 20);

$text-color: $gray;
$dim-text-color: $darkgray;
$bright-text-color: $white;
