$black: black;
$gray: #999999;
$darkgray: darken($gray, 25);
$light: #eeeeee;
$white: white;

$red: #f85a3e;
$highlightred: lighten($red, 5);
$darkred: darken($red, 20);

$text-color: $gray;
$dim-text-color: $darkgray;
$bright-text-color: $white;
