@import 'partials/colors';
@import 'partials/mixins';

@import 'partials/uikit';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: $base-font-size;
}

a,
.uk-link,
.uk-button-link {
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

a,
.uk-link,
.uk-button-link {
  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $red;
    border-bottom-color: $red;
    text-decoration: none;
    transition: 0s;
  }
}

.construction {
  z-index: 99999999;
  position: absolute;
  top: 40px;
  left: -60px;
  width: 250px;
  background: $red;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  transform: rotate(-45deg);
}

.vertical-align {
  @include vertical-align;
}
