@import 'partials/colors';
@import 'partials/fonts';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

.construction {
  z-index: 99999999;
  position: absolute;
  top: 40px;
  left: -60px;
  width: 250px;
  background: $red;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  transform: rotate(-45deg);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  color: $text-color;
  font-family: $base-font-stack;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-stack;
  font-weight: normal;
}

a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid $red;

  &:hover,
  &:focus {
    color: $red;
  }
}
