@import 'partials/colors';

@import 'partials/reset';

@import 'partials/mixins';
@import 'partials/modal';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

.construction {
  z-index: 99999999;
  position: absolute;
  top: 40px;
  left: -60px;
  width: 250px;
  background: $red;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  transform: rotate(-45deg);
}

.vertical-align {
  @include vertical-align;
}
