@use '../../partials/colors';
@use '../../partials/uikit-overrides/variables';

#imageContainer,
#displayContainer {
  overflow: hidden;
  border: 1px solid variables.$button-default-border;
}

#imageCanvas,
#displayCanvas {
  height: 400px;
  width: 400px;
  background: colors.$black;
}

#displayCanvas.blur {
  filter: blur(5px);
}
