@import "colors";

@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|Quicksand|Raleway:400,700");

* {
	outline: 0;
}

html {
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
}

body {
	min-height: 100%;
	position: relative;
	background: #131d29;
	color: white;
	transform-style: preserve-3d;
	perspective: 200px;
}

.Lato {
	font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, .Raleway {
	font-family: "Raleway", sans-serif;
}

.Quicksand {
	font-family: "Quicksand", sans-serif;
}

.valign-middle {
	display: flex;
	flex-direction: column;

	&::before, &::after {
		content: "";
		flex-grow: 1;
	}
}

.construction {
	z-index: 9999;
	position: absolute;
	top: 40px;
	left: -60px;
	width: 250px;
	background: $dark-accent-color;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: $light-color;
	transform: rotate(-45deg);
}

.home {
	transform-style: preserve-3d;

	.stacked {
		display: inline-block;
		position: relative;
		font-size: 70px;
		font-weight: 900;

		span:not(:first-child) {
			position: absolute;
			top: 0;
			left: 0;
			transition: 5s;
		}

		@for $i from 2 through 10 {
			span:nth-child(#{$i}) {
				opacity: 0.3 - ($i - 2) / 30;
				transform: translateZ(-5px * ($i - 1));
			}
		}
	}
}
