<template name="footer">
	<footer class="footer">
		<nav class="nav">
			<p>Designed and Built by Taha Vasowalla</p>
			<a href="https://www.facebook.com/taha.vasowalla" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
			<a href="https://www.google.com/+TahaVasowalla/about" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
			<a href="http://instagram.com/darkace65/" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
			<a href="https://www.linkedin.com/in/TahaVasowalla" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
			<a href="https://github.com/DarkAce65" target="_blank"><i class="fa fa-fw fa-github"></i></a>
		</nav>
	</footer>
</template>