<template name="UltimateTTT">
	{{> navigation navType="navbar-default"}}
	<div id="UTTTBody" class="content container">
		<div class="page-header">
			<p class="h1">Ultimate Tic Tac Toe</p>
		</div>
		<p>Rules and instructions can be found <a target="_blank" href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe">here</a>.</p>
		<p>Programmed and designed as a group effort by Taha and Eli.</p>
		<table id="ultimate" style="margin: auto"></table>
		<div style="text-align: center;">
			<p id="TTT-winner" class="h3"></p>
			<p id="TTT-turnText" class="h3" style="text-align: center;">It is <span id="turn" style="color: red">Red</span>'s turn.</p>
			<button id="TTT-button" class="btn btn-danger" onClick="reset()" style="display: none;">Play again</button>
		</div>
	</div>
	{{> footer}}
</template>