include ../../partials/mixins

html
  head
    +head("Hangman")
    link(rel="shortcut icon" href="../../assets/icons/hangman.png")
    link(rel="stylesheet" type="text/css" href="../../global.css")
    link(rel="stylesheet" href="style.css")

  body
    #modal-1.modal
      .modal-overlay(data-micromodal-close)
        .modal-inner
          header
            | TEST
            span.typcn.typcn-times(data-micromodal-close)
          div CONTENT

    button(data-micromodal-trigger="modal-1") Open
    .container
      #wordDialog.modal.fade(data-keyboard="false" data-backdrop="static")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(data-dismiss="modal")
                span &times;
              h4.modal-title Enter your word below
            .modal-body
              p
                input#wordInput.form-control(type="password" placeholder="Word")
              p#error(style="color: red; display: none;") Your word contains invalid characters. Only letters are accepted.
              p(style="text-align: right;")
                button#submitWord.btn.btn-primary Go!
      h1 Hangman
      .row
        svg.col-7.col-sm-8.col-md-6.col-md-offset-1(viewbox="0 0 500 400")
          path#base(d="m 52.567061,362.68341 c 88.653899,-29.13563 197.359959,-17.43136 278.732599,4.8749")
          path#gallows(d="m 143.44166,345.45176 c 10.88005,-103.29584 11.68263,-208.83798 14.14214,-312.13713 82.3107,-8.19067 165.55984,-11.1117 248.49747,-11.1117 -0.27648,13.64776 -1.34605,26.92097 -2.0203,40.4061")
          g#man
            path#rLeg(d="m 411.3892,235.7377 c 15.23931,17.1561 17.75142,48.02831 24.34193,69.7654")
            path#lLeg(d="m 412.16038,235.78408 c -4.90664,25.6128 -14.93038,50.305 -23.94217,74.7332")
            path#rArm(d="m 400.61306,116.44399 c 17.06809,19.19532 26.85158,38.1177 33.04254,74.68829")
            path#lArm(d="m 398.29597,117.58622 c -3.27985,28.78639 -14.14214,53.78348 -14.14214,82.83251")
            path#body(d="m 399.64285,116.42857 12.5,120.35714")
            path#head(d="m 392.19072,67.57406 c -65.92616,96.50587 108.15832,29.76716 3.94514,-8.87456")
          g#eyes
            path(d="m 391.93919,86.18434 c -1.69509,2.28862 -3.75231,4.83465 -5.55584,6.81853")
            path(d="m 386.88843,86.94196 c 2.55432,1.43504 4.2581,4.04221 5.55584,6.06091")
            path(d="m 411.8897,81.63866 c -0.1828,2.6209 -2.30291,4.40199 -4.04061,6.31345")
            path(d="m 407.34402,81.89119 c 0.62853,3.02856 3.3129,4.10015 5.80837,5.55584")
        .col-5.col-sm-4.col-md-4
          .d-none.d-sm-block
            h3 Guessed Letters
            #guessedLetters
          p#guessesLeft
          p(style="text-align: center;")
            button.btn.btn-sm.btn-warning(style="margin: 0 5px 5px;" tabindex="1" data-toggle="modal" data-target="#wordDialog") Set word
            button#randomWord.btn.btn-sm.btn-warning(style="margin: 0 5px 5px;" tabindex="2" data-loading-text="Loading...")
              | Random Word&nbsp;
              span.d-none.d-sm-inline-block (Shift + R)
      #wordDisplay
      #guessContainer.input-group.d-none.d-sm-block
        input#guess.form-control(maxlength="1" tabindex="3")
        span.input-group-btn
          button#submitGuess.btn.btn-default(tabindex="4" data-trigger="manual" data-container="body" data-toggle="tooltip" data-placement="right" title="Error")
            i.fa.fa-arrow-right.fa-fw
      #guessContainer-xs.input-group.d-block.d-sm-none(style="text-align: center;")
        span.guess-xs(data-letter="A") A
        span.guess-xs(data-letter="B") B
        span.guess-xs(data-letter="C") C
        span.guess-xs(data-letter="D") D
        span.guess-xs(data-letter="E") E
        span.guess-xs(data-letter="F") F
        span.guess-xs(data-letter="G") G
        span.guess-xs(data-letter="H") H
        span.guess-xs(data-letter="I") I
        span.guess-xs(data-letter="J") J
        span.guess-xs(data-letter="K") K
        span.guess-xs(data-letter="L") L
        span.guess-xs(data-letter="M") M
        span.guess-xs(data-letter="N") N
        span.guess-xs(data-letter="O") O
        span.guess-xs(data-letter="P") P
        span.guess-xs(data-letter="Q") Q
        span.guess-xs(data-letter="R") R
        span.guess-xs(data-letter="S") S
        span.guess-xs(data-letter="T") T
        span.guess-xs(data-letter="U") U
        span.guess-xs(data-letter="V") V
        span.guess-xs(data-letter="W") W
        span.guess-xs(data-letter="X") X
        span.guess-xs(data-letter="Y") Y
        span.guess-xs(data-letter="Z") Z
