@import '../../partials/colors';
@import '../../partials/uikit-overrides/variables';

@keyframes correct {
  20% {
    background: rgba($global-success-background, 0.6);
  }
}

@keyframes incorrect {
  20% {
    background: rgba($global-danger-background, 0.6);
  }
}

.letter {
  display: inline-block;
  font-size: 1.5rem;
  min-width: 1.25em;
  margin: 4px 8px 8px !important;
  border-bottom: 2px solid white;
  text-transform: uppercase;
  text-align: center;

  &.correct {
    animation: correct 1s;
  }

  &.incorrect {
    animation: incorrect 1s;
  }
}

#wordDisplay.lost .letter.incorrect {
  color: $global-danger-background;
  border-bottom-color: $global-danger-background;
}

#guessInput {
  width: 2 * $form-icon-width;
  text-align: center;
  text-transform: uppercase;
}

.letter-tile {
  display: inline-block;
  font-size: 1.5rem;
  width: 1.1em;
  margin: 4px;
  background: $global-secondary-background;
  transition: 0.3s;

  &.correct {
    color: $text-emphasis-color;
    background: $global-success-background;
  }

  &.incorrect {
    color: $text-emphasis-color;
    background: $global-danger-background;
  }
}

svg path {
  fill: none;
  stroke: white;
  stroke-width: 2;
}

@media screen and (max-width: $breakpoint-xsmall-max) {
  .letter {
    font-size: 1.25rem;
    margin: 0 5px;
  }

  svg {
    path {
      stroke-width: 5;
    }

    #eyes path {
      stroke-width: 2;
    }
  }
}
