include ../partials/mixins

doctype html
html
  head
    +head("About Me")
    link(rel="shortcut icon" href="../assets/icons/tv.png")
    link(rel="stylesheet" type="text/css" href="../uikit.css")
    link(rel="stylesheet" type="text/css" href="../global.css")
    link(rel="stylesheet" type="text/css" href="style.css")

  body
    +container(["about"])
      .uk-card.uk-card-default.uk-grid-collapse.uk-flex-center.uk-margin(uk-grid).uk-grid-match
        .uk-card-media-left(class="uk-width-medium uk-width-1-3@s uk-width-1-4@m")
          img(data-src="../assets/img/profile.jpg" data-width="528" data-height="528" style={width: "100%"} uk-img)
        div(class="uk-width-expand@s")
          .uk-card-body(class="uk-width-expand@s uk-text-center uk-text-left@s")
            h1.uk-card-title Taha Vasowalla
            a.uk-link(href=require("./Resume - Taha Vasowalla.pdf")) Resume.pdf
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum minus impedit ipsa quasi nesciunt animi delectus, dignissimos deleniti iusto aliquam amet sapiente, eum optio odit! Sapiente officia ullam fugiat? Saepe.
      #timeline
        .trail
        .event SARndbox, Andover Innovation LabDecember 2015

        An augmented reality sandbox with real time topographic projections and water and lava simulations.

        VenturesSARndbox

        iOS Developer, HHBrownSummer 2015

        Built an iOS application for Carolina Boots using Xcode.

        Eagle Scout, Boy Scouts of America2008 - Present

        Positions held: Assistant Senior Patrol Leader, Scribe, Patrol Leader, Assistant Patrol Leader

        .event
          | Instructor, Mrs. D's Swim School
          | July 2010 - Present
          | Former student with Red Cross Level 6 certification and lifeguard training.
          | As instructors, we are assigned a student for a two week session and we work with them to teach them how to swim. At the end of a session, students earn a Red Cross Learn-to-Swim level.
        .event
          | Volunteer, Andover Historical Society
          | June 2014
          | Helped complete historical research on artifacts in the Historical Society's inventory.
        .connector: .branch.join
        .connector: .event: .padding-bottom
          .uk-text-small May 25th, 2016
          | Presented the SARndbox at the international #[a.uk-link(href="http://linc2016.mit.edu/" target="_blank") LINC Conference] hosted by MIT and became the first high school students to be invited to the LINC Conference
        .connector: .event: .padding-bottom
          .uk-text-small April 16th, 2016
          | Presented the SARndbox at the #[a.uk-link(href="https://www.cambridgesciencefestival.org/" target="_blank") Cambridge Science Festival]
        .connector: .event: .padding-bottom
          .uk-text-small January 22nd, 2016
          | Participated in the #[a.uk-link(href="http://learnlaunch.org/conference-2016/classroomofthefuture/" target="_blank") LearnLaunch] conference co-hosted by Harvard with the Andover Innovation Lab and our build of the SARndbox
        .connector: .branch.split
        .event: .connector: .padding-bottom
          .uk-text-small August, 2015
          | Worked as an iOS developer at HHBrown
        .connector: .connector: .trail
        .connector: .connector: .event
          .uk-text-small July 16th, 2015
          | Attained rank of Eagle Scout
        .connector: .branch.split.deep: .connector
        .connector: .event: .padding-bottom
          .uk-text-small November 5th, 2014
          | Inducted into the National Honor Society
        .event: .connector: .padding-bottom
          .uk-text-small August 9th, 2014
          | Won Best Web App Award with Eli Gukovsky at a hackathon hosted by HHBrown
        .connector: .event: .padding-bottom
          .uk-text-small September, 2012
          | Founded the Origami Club at Andover High School
        .connector: .event: .padding-bottom
          .uk-text-small September, 2012
          | Enrolled at Andover High School
        .connector: .branch.split
        .event: .padding-bottom
          .uk-text-small October, 2011
          | Founded the Origami Club at West Middle School
        .connector: .padding-bottom
          .uk-text-emphasis 2011
        .event: .padding-bottom
          .uk-text-small May 22nd, 2010
          | Earned Black Belt in Uechi Ryu style karate
        .event Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatum est rerum qui beatae, corrupti necessitatibus porro laudantium aut dolor at, quibusdam, odit neque! Error facere ipsa recusandae consequuntur laboriosam!
        .connector: .branch.join
        .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. A nam consequatur consectetur eum sapiente nulla cumque ipsam ratione illum, molestias nesciunt nostrum vitae, qui cupiditate aspernatur, ipsum necessitatibus quia veritatis.
        .event: .connector Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sed ducimus natus quaerat reprehenderit totam excepturi, maiores fuga voluptate nobis adipisci, impedit officiis debitis quasi repellendus aspernatur exercitationem magni dolorum.
        .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sed ducimus natus quaerat reprehenderit totam excepturi, maiores fuga voluptate nobis adipisci, impedit officiis debitis quasi repellendus aspernatur exercitationem magni dolorum.
        .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sed ducimus natus quaerat reprehenderit totam excepturi, maiores fuga voluptate nobis adipisci, impedit officiis debitis quasi repellendus aspernatur exercitationem magni dolorum.
        .connector: .branch.join.deep: .connector
        .connector: .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eaque cupiditate corrupti perferendis minima labore voluptatem voluptates aperiam magnam? Recusandae qui temporibus ab provident eius quaerat necessitatibus, soluta iure iste.
        .connector: .branch.split.deep: .connector
        .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sed ducimus natus quaerat reprehenderit totam excepturi, maiores fuga voluptate nobis adipisci, impedit officiis debitis quasi repellendus aspernatur exercitationem magni dolorum.
        .connector: .connector: .branch.join.deep
        .connector: .connector: .branch.join: .empty: .connector
        .event: .connector: .connector: .connector Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla soluta explicabo, impedit necessitatibus distinctio sit quis consequuntur. Adipisci esse, qui, impedit, sit quia cumque architecto eius sunt a dolor atque?
        .connector: .connector: .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eaque cupiditate corrupti perferendis minima labore voluptatem voluptates aperiam magnam? Recusandae qui temporibus ab provident eius quaerat necessitatibus, soluta iure iste.
        .connector: .connector: .branch.split.deep: .connector
        .connector: .connector: .event Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo perspiciatis mollitia ex nisi cumque expedita sed tenetur ipsum, qui ad ut delectus accusamus dignissimos temporibus voluptatum consequuntur itaque molestiae obcaecati?
        .connector: .event: .connector Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla soluta explicabo, impedit necessitatibus distinctio sit quis consequuntur. Adipisci esse, qui, impedit, sit quia cumque architecto eius sunt a dolor atque?
        .connector: .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, itaque fugiat velit temporibus, obcaecati saepe adipisci eligendi similique assumenda minima voluptatum veritatis, quos maiores nobis! Maiores voluptates modi accusantium illum.
        .connector: .connector: .branch.split
        .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, vel iusto reiciendis consectetur amet similique veniam reprehenderit nostrum voluptate, hic explicabo soluta ad perspiciatis ipsum! Fuga mollitia enim nulla distinctio.
        .connector: .event Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ullam odio beatae facere enim, aliquid expedita error blanditiis, id omnis, aperiam sunt! Pariatur architecto doloribus et harum vitae iusto veniam.
        .connector: .branch.split
        .event Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatum est rerum qui beatae, corrupti necessitatibus porro laudantium aut dolor at, quibusdam, odit neque! Error facere ipsa recusandae consequuntur laboriosam!
      div(uk-grid class="uk-child-width-1-2@m")
        div
          #knowledge.uk-tile.uk-tile-muted.uk-padding-small
            h4 Programming Experience
            .uk-grid-small.uk-grid-divider(uk-grid)
              .uk-text-right(class="uk-width-1-2 uk-width-medium@s") Confident in
              .uk-width-expand
                div JavaScript
                div Java
                div C
                div Rust
                div CSS, Sass/SCSS, Less
                div Responsive design
            .uk-grid-small.uk-grid-divider(uk-grid)
              .uk-text-right(class="uk-width-1-2 uk-width-medium@s") Comfortable with
              .uk-width-expand
                div C++ (and Arduino)
                div Processing
                div Shell scripting
                div GLSL Shaders
                div LaTeX
                div Android and iOS development
            .uk-grid-small.uk-grid-divider(uk-grid)
              .uk-text-right(class="uk-width-1-2 uk-width-medium@s") Learning
              .uk-width-expand Unity (C#)
            .uk-grid-small.uk-grid-divider(uk-grid)
              .uk-text-right(class="uk-width-1-2 uk-width-medium@s") Worked briefly with
              .uk-width-expand
                div Objective-C
                div Visual Basic
                div MATLAB
                div PHP
                div Ruby
