@import '../partials/colors';
@import '../partials/uikit-overrides/variables';

$rt2: 1.41421356237;
$rt5: 2.2360679775;

$timeline-gap: 20px;
$timeline-width: 2px;
$timeline-event-size: 3px;
$timeline-no-content-height: $timeline-gap + $timeline-width;

.padding-bottom {
  padding-bottom: $global-small-margin;
}

.empty {
  position: relative;
  min-height: $timeline-no-content-height;
  height: 100%;
  padding-left: $timeline-gap;
  border-left: $timeline-width solid transparent;
}

.connector {
  @extend .empty;
  border-left-color: $red;
}

.trail {
  @extend .connector;
  border-left-style: dashed;
}

.event {
  @extend .connector;

  &::before {
    content: '';
    position: absolute;
    top: 0.5em;
    left: -$timeline-width / 2 - $timeline-event-size;
    width: $timeline-event-size * 4;
    height: $timeline-event-size;
    background: $white;
    border-top: $timeline-event-size solid $black;
    border-bottom: $timeline-event-size solid $black;
  }
}

.branch {
  position: relative;
  z-index: -1;
  height: $timeline-no-content-height;
  margin-left: -$timeline-no-content-height;
  padding-left: $timeline-no-content-height;
  color: $red;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    background: currentColor;
    width: max(1px, ceil($timeline-width / 1.5));
    height: $timeline-no-content-height * $rt2 + $timeline-width / 2;
  }

  &.split::before {
    bottom: 0;
    transform: rotate(45deg);
    transform-origin: bottom;
  }

  &.join::before {
    top: 0;
    transform: rotate(-45deg);
    transform-origin: top;
  }

  &.deep {
    &::before {
      height: $timeline-no-content-height * $rt5 + $timeline-width / 2;
    }

    &.split::before {
      transform: rotate(63.435deg);
    }

    &.join::before {
      transform: rotate(-63.435deg);
    }
  }
}
