@use '../../partials/colors';

#wordsearch {
  font-family: 'Open Sans', sans-serif;
}

#grid {
  text-align: center;
  font-size: 1.5rem;
  overflow-x: auto;

  .row {
    display: inline-block;
    white-space: nowrap;
  }

  .cell {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
  }
}

#wordsToFind .word {
  display: inline-block;
  padding: 5px;
}

body > .toggle-print {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
}

html.print-layout {
  background-color: colors.$white;
  color: colors.$black;

  body > .toggle-print {
    display: block;
  }

  .uk-container > h3 {
    display: none;
  }

  #controls {
    display: none;
  }
}

@media print {
  .toggle-print {
    display: none !important;
  }
}
