#visualizerContainer {
  position: relative;
  overflow: hidden;
}

#visualizer {
  width: 100%;
  background: black;
}

#wave {
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;

  canvas {
    max-width: none;
  }
}

#details {
  position: absolute;
  top: 2px;
  right: 10px;
  color: white;
  text-align: right;
}

#name {
  font-style: italic;
  white-space: pre;
}
