.spacer {
  display: block;
  margin-bottom: 10px;
}

.btn {
  margin-right: 3px;
}

#visualizer {
  width: 100%;
  background: black;
}

#wave {
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;

  canvas {
    max-width: none;
  }
}

#filename {
  font-style: italic;
}

.fullscreen {
  overflow: hidden;
  max-height: 100%;

  #controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    z-index: 10000;
    text-align: right;
  }

  #visualizer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
  }
}

@media screen and (max-width: 400px) {
  #visualizer {
    height: 250px;
  }
}
