@import "colors";

body {
	::selection {
		background-color: $dark-color;
		color: $light-color;
	}

	a {
		color: $light-accent-color;
	}

	a:hover, a:focus {
		color: $light-secondary-color;
	}
}

.list-group-item.list-group-item-divider {
	font-weight: bold;
	color: white;
	background-color: $light-accent-color;
	border-color: $light-accent-color;
}

.footer {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 20px 0;
	background-color: $light-color;
	text-align: center;
	font-variant: small-caps;
	border-top: 3px solid $light-accent-color;

	.nav p, .nav a {
		color: lighten($dark-color, 26);
		margin: 0 3px;
		text-decoration: none;
	}

	.nav a:hover {
		color: #5E5E5E;
	}
}


@media screen and (max-width: 767px) {
	.footer {
		display: block;
	}
}
