@import "photoicons";

img {
	width: 100%;
}

.row {
	margin-bottom: 20px;
}

.caption {
	.fa, .photoicon {
		margin-right: 8px;
	}

	.grid {
		display: inline-block;
		min-width: 200px;

		span {
			display: inline-block;
			width: 50%;
		}
	}
}