@use 'sass:math';

@use 'variables';

@mixin hook-breadcrumb-item-hover() {
  &:not(a) {
    color: variables.$breadcrumb-item-color;
  }
}

@mixin hook-breadcrumb-item-active() {
  &:not(a) {
    color: variables.$breadcrumb-item-active-color;
  }
}
