@import "../bourbon/bourbon";
@import "../colors/colors";

#skills, #clubs, #workexp, #achievements {
	b {
		font-family: "Raleway", sans-serif;
	}
}

#workexp .list-group-item .date {
	display: block;
}

.listCollapse {
	@include display(flex);
	font-family: "Quicksand", sans-serif;
	color: white;
	background-color: $dark-accent-color;
	padding: 20px 15px;
	border-radius: 4px;

	.listHeader {
		@include flex(1 1 auto);
	}

	.fa-chevron-up {
		@include flex(0 1 auto);
		@include transition(0.5s);
		color: white;
	}
}

.collapsed .fa-chevron-up {
	@include transform(rotate(-180deg));
}

@media screen and (min-width: 768px) {
	#skills, #clubs, #workexp, #achievements {
		display: block;
		height: auto !important;
	}

	#workexp .list-group-item .date {
		float: right;
	}
}