include ../../partials/mixins

html
  head
    +head("Web Audio API")
    link(rel="shortcut icon" href="../../assets/icons/webaudio.png")
    link(rel="stylesheet" type="text/css" href="../../uikit.css")
    link(rel="stylesheet" type="text/css" href="../../global.css")
    link(rel="stylesheet" type="text/css" href="style.css")

  body
    #header.uk-flex.uk-flex-wrap(uk-margin)
      +breadcrumbs("experiments", "webaudio3d")(class="uk-flex-auto")
      .uk-flex-none(style="text-align: right;")
        .uk-button-group
          button.uk-button.uk-button-default.uk-button-small.uk-button-file #[i.far.fa-file-audio] Upload audio file
            input#fileInput(type="file" accept="audio/*")
          button#resetCamera.uk-button.uk-button-default.uk-button-small #[i.fas.fa-video] Reset
        #details.uk-hidden
          #name
          | #[span#currentTime -:--] / #[span#duration -:--]
    #rendererContainer
