$tile-size: 16px;

#board {
	margin: auto;
}

.cell {
	background-color: silver;
	background-image: url(spritesheet.png);
	background-size: 5 * $tile-size 3 * $tile-size;
	font-weight: bold;
	text-align: center;
	width: $tile-size;
	height: $tile-size;

	&.closed {
		background-position: 0 0;

		&:active {
			background-position: (3 * -$tile-size) 0;
		}
	}

	&.mine {
		background-position: (4 * -$tile-size) 0;
	}
	&.redmine {
		background-position: (4 * -$tile-size) (-$tile-size);
	}
	&.xmine {
		background-position: (4 * -$tile-size) (2 * -$tile-size);
	}

	&.flag {
		background-position: (-$tile-size) 0;
	}
	&.mark {
		background-position: (2 * -$tile-size) 0;
	}

	&.open0 {
		background-position: (3 * -$tile-size) 0;
	}
	&.open1 {
		background-position: 0 (-$tile-size);
	}
	&.open2 {
		background-position: (-$tile-size) (-$tile-size);
	}
	&.open3 {
		background-position: (2 * -$tile-size) (-$tile-size);
	}
	&.open4 {
		background-position: (3 * -$tile-size) (-$tile-size);
	}
	&.open5 {
		background-position: 0 (2 * -$tile-size);
	}
	&.open6 {
		background-position: (-$tile-size) (2 * -$tile-size);
	}
	&.open7 {
		background-position: (2 * -$tile-size) (2 * -$tile-size);
	}
	&.open8 {
		background-position: (3 * -$tile-size) (2 * -$tile-size);
	}
}