$scale: 1;

#controls {
	text-align: center;
}

#game {
	display: inline-block;
	padding: 5px;
	text-align: center;
	background-color: lightgray;

	.boardContainer {
		border: 3px solid white;
		border-color: gray white white gray;
	}

	#board {
		width: 0;
		table-layout: fixed;
		margin: auto;
	}
}

#display {
	min-width: 150px;
	margin: 0 auto 5px;
	border: 2px solid white;
	border-color: gray white white gray;
	padding: 4px;

	.number {
		display: inline-block;
		width: 13px * $scale;
		height: 23px * $scale;
		vertical-align: middle;
		background-color: black;
		background-image: url(spritesheet.png);
		background-size: (144px * $scale) (81px * $scale);

		@for $i from 0 through 9 {
			&.n#{$i} {
				background-position: ($i * -13px * $scale) (-32px * $scale);
			}
		}
		&.dash {
			background-position: (10 * -13px * $scale) (-32px * $scale);
		}
	}

	#minesLeft, #timer {
		display: inline-block;
		float: left;
		border: 1px solid white;
		border-color: gray white white gray;
		line-height: 1;
	}

	#timer {
		float: right;
	}

	#face {
		display: inline-block;
		width: 26px * $scale;
		height: 26px * $scale;
		vertical-align: middle;
		background-color: silver;
		background-image: url(spritesheet.png);
		background-size: (144px * $scale) (81px * $scale);
		background-position: (-26px * $scale) (-55px * $scale);

		&.surprise {
			background-position: (2 * -26px * $scale) (-55px * $scale);
		}
		&.win {
			background-position: (4 * -26px * $scale) (-55px * $scale);
		}
		&.lose {
			background-position: (3 * -26px * $scale) (-55px * $scale);
		}
		&:active {
			background-position: 0 (-55px * $scale);
		}
	}
}

.cell {
	width: 16px * $scale;
	height: 16px * $scale;
	background-color: silver;
	background-image: url(spritesheet.png);
	background-size: (144px * $scale) (81px * $scale);

	&.closed {
		background-position: (5 * -16px * $scale) (-16px * $scale);

		&:active {
			background-position: 0 0;
		}
	}

	&.mine {
		background-position: 0 (-16px * $scale);
	}
	&.redmine {
		background-position: (2 * -16px * $scale) (-16px * $scale);
	}
	&.xmine {
		background-position: (-16px * $scale) (-16px * $scale);
	}

	&.flag {
		background-position: (4 * -16px * $scale) (-16px * $scale);
	}
	&.mark {
		background-position: (3 * -16px * $scale) (-16px * $scale);
	}

	&.open0 {
		background-position: 0 0;
	}
	&.open1 {
		background-position: (-16px * $scale) 0;
	}
	&.open2 {
		background-position: (2 * -16px * $scale) 0;
	}
	&.open3 {
		background-position: (3 * -16px * $scale) 0;
	}
	&.open4 {
		background-position: (4 * -16px * $scale) 0;
	}
	&.open5 {
		background-position: (5 * -16px * $scale) 0;
	}
	&.open6 {
		background-position: (6 * -16px * $scale) 0;
	}
	&.open7 {
		background-position: (7 * -16px * $scale) 0;
	}
	&.open8 {
		background-position: (8 * -16px * $scale) 0;
	}
}