@import "../../bourbon/bourbon";

$dark: #121212;
$primary: #5fef52;

html, body {
	overflow: hidden;
	height: 100%;
}

body {
	background: $dark;
	color: white;

	a {
		color: white;
		border-bottom: 0.1em solid shade($primary, 10);
		box-shadow: inset 0 -0.1em 0 shade($primary, 10);
		text-decoration: none;
		transition: background 0.2s;
	}

	a:hover, a:focus {
		color: white;
		background-color: shade($primary, 10);
		text-decoration: none;
	}
}

#treeContainer {
	font-family: "Quicksand", sans-serif;
	overflow-x: auto;
	overflow-y: hidden;

	#tree {
		height: 100%;
	}
}

#sidebar {
	position: absolute;
	background: #333;
	bottom: 0;
	right: 0;
	overflow-y: auto;

	.title {
		text-align: center;

		small {
			color: #ccc;
		}
	}

	hr {
		border-color: #aaa;
	}

	#main {
		overflow-y: auto;
		max-height: 100%;
		padding: 0 15px 37px;

		.nodeContent {
			font-weight: 300;
		}
	}

	#footer {
		position: absolute;
	    bottom: 0;
	    padding: 10px 15px;
	    width: 100%;
		background: #333;
	    border-top: 2px solid $primary;
	}
}

#tree, #sidebar {
	@include transition(width 0.75s, height 0.75s);
}

.node {
	cursor: pointer;

	circle {
		fill: $dark;
		stroke: $primary;
		stroke-width: 2px;
	}

	text {
		fill: white;
	}

	&.collapsed {
		circle {
			fill: $primary;
		}
	}
}

.link {
	fill: none;
	stroke: #555;
	stroke-width: 1px;
}