html, body {
	overflow: hidden;
}

.node {
	cursor: pointer;

	circle {
		fill: #fff;
		stroke: steelblue;
		stroke-width: 2px;
	}

	text {
		font-family: sans-serif;
	}
}

.link {
	fill: none;
	stroke: #aaf;
	stroke-width: 1px;
}