@import "../../bourbon/bourbon";

$primary: #5fef52;

html, body {
	overflow: hidden;
	height: 100%;
}

body {
	background: #121212;
	color: white;
}

#tree {
	font-family: "Quicksand", sans-serif;
}

#sidebar {
	position: absolute;
	background: lighten($primary, 20);
	color: #333;
	bottom: 0;
	right: 0;
	padding: 15px;

	.title {
		text-align: center;
	}

	hr {
		border-color: #aaa;
	}
}

#tree, #sidebar {
	@include transition(width 0.75s, width 0.75s);
}

.node {
	cursor: pointer;

	circle {
		fill: #121212;
		stroke: $primary;
		stroke-width: 2px;
	}

	text {
		fill: white;
	}

	&.collapsed {
		circle {
			fill: $primary;
		}
	}
}

.link {
	fill: none;
	stroke: lighten($primary, 25);
	stroke-width: 1px;
}