$black: black;
$muted: #202020;
$darkgray: #666666;
$gray: #aaaaaa;
$lightgray: #bbbbbb;
$light: #eeeeee;
$white: white;

$red: #f85a3e;
$darkred: darken($red, 20);
$teal: #63d4dd;
$purple: #a177ee;

$text-color: $gray;
$dim-text-color: $darkgray;
$bright-text-color: $white;
