@use 'uikit-overrides/variables';

.floating-header {
  margin-top: variables.$global-margin;
  margin-left: variables.$global-small-gutter;
  margin-right: variables.$global-small-gutter;
}

@media (min-width: variables.$breakpoint-small) {
  .floating-header {
    margin-left: variables.$global-gutter;
    margin-right: variables.$global-gutter;
  }
}
