@use '../../partials/colors';
@use '../../partials/uikit-overrides/variables';

canvas {
  width: 100%;
  min-height: 300px;
  background: colors.$black;
  border: 1px solid variables.$button-default-border;
}

#rainDial {
  cursor: crosshair;

  .dial {
    fill: colors.$darkgray;
  }

  .indicator {
    stroke: colors.$red;
  }
}

#dialLabels {
  path {
    stroke: colors.$text-color;
  }

  text {
    fill: colors.$text-color;
  }
}
