@import '../../partials/colors';
@import '../../partials/uikit-overrides/variables';

canvas {
  width: 100%;
  min-height: 300px;
  background: $black;
  border: 1px solid $button-default-border;
}

#rainDial {
  cursor: crosshair;

  .dial {
    fill: $darkgray;
  }

  .indicator {
    stroke: $red;
  }
}

#dialLabels {
  path {
    stroke: $text-color;
  }

  text {
    fill: $text-color;
  }
}
