include ../../partials/mixins

doctype html
html
  head
    +head('Web Audio API')
    link(rel='shortcut icon', href='/img/icons/webaudio.png')
    link(rel='stylesheet', type='text/css', href='/uikit.scss')
    link(rel='stylesheet', type='text/css', href='/visual/webaudio2d/style.scss')
    script(type='module', src='/visual/webaudio2d/script.ts')

  body
    +container(['visual', 'webaudio2d'])
      .uk-margin-bottom
        button.uk-button.uk-button-default.uk-button-small.uk-button-file #[i.far.fa-file-audio] Load audio file
          input#fileInput(type='file', accept='audio/*')
      #visualizerContainer.bordered
        #details.uk-hidden
          #name
          span#currentTime -:--
          |
          | /
          |
          span#duration -:--
        canvas#visualizer
        .uk-overflow-hidden
          #waveContainer
            #waveCanvasContainer
              canvas#wave
              canvas#waveProgress
