@import '../../partials/colors';

#visualizerContainer {
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: border 1s;

  &.bordered {
    border-color: currentColor;
  }
}

#visualizer {
  width: 100%;
  background: $black;
}

#waveContainer {
  overflow: hidden;
}

#waveCanvasContainer {
  position: relative;
}

#waveProgress,
#wave {
  position: absolute;
  top: 0;
  left: 0;
}

#wave {
  filter: brightness(0.4);
}

#details {
  position: absolute;
  top: 2px;
  right: 10px;
  color: $white;
  text-align: right;
}

#name {
  font-style: italic;
  white-space: pre;
}
