include partials/mixins

doctype html
html
  head
    +head("Forbidden")
    link(rel="shortcut icon" href="assets/icons/tv.png")
    link(rel="stylesheet" type="text/css" href="global.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo&display=swap")

  body 403
