@use 'partials/colors';
@use 'partials/uikit-overrides/variables';

html,
body {
  height: 100%;
}

#e403 {
  overflow: hidden;
  background-color: colors.$red;
  color: variables.$inverse-global-muted-color;

  h1 {
    color: variables.$inverse-global-color;
  }
}
