include partials/mixins

doctype html
html
  head
    +head('Forbidden')
    link(rel='shortcut icon', href='/img/icons/tv.png')
    link(rel='stylesheet', type='text/css', href='/uikit.scss')
    link(rel='stylesheet', type='text/css', href='/403.scss')

  body#e403
    .uk-height-viewport.uk-flex.uk-flex-column.uk-flex-middle.uk-flex-center
      h1.uk-heading-2xlarge 403
      p.uk-text-large Forbidden
