include partials/mixins

doctype html
html
  head
    +head("Forbidden")
    link(rel="shortcut icon" href="assets/icons/tv.png")
    link(rel="stylesheet" type="text/css" href="uikit.css")
    link(rel="stylesheet" type="text/css" href="403.css")

  body#e403
    .uk-height-viewport.uk-flex.uk-flex-middle.uk-flex-center
      h1.uk-heading-2xlarge 403
