include partials/mixins

doctype html
html
  head
    +head('Page not found')
    link(rel='shortcut icon', href='/img/icons/tv.png')
    link(rel='stylesheet', type='text/css', href='/uikit.scss')
    link(rel='stylesheet', type='text/css', href='/404.scss')

  body#e404
    .uk-height-viewport.uk-flex.uk-flex-column.uk-flex-middle.uk-flex-center
      h1.uk-heading-2xlarge 404
      p.uk-text-large There's nothing here
