@import 'partials/uikit-overrides/variables';

.floating-header {
  margin-top: $global-margin;
  margin-left: $global-small-gutter;
  margin-right: $global-small-gutter;
}

@media (min-width: $breakpoint-small) {
  .floating-header {
    margin-left: $global-gutter;
    margin-right: $global-gutter;
  }
}

#e403 {
  background-color: $red;

  h1 {
    color: $inverse-global-color;
  }
}
