@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/mixins';

@import 'partials/uikit-overrides/variables';

$serif-font-stack: 'Arvo', serif;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-size: $base-font-size;
  font-family: $base-font-stack;
  background: black;
  color: $dim-text-color;
}

#overlayContainer {
  position: absolute;
  bottom: 1em;
  right: 0;
  text-align: center;
}

#banner {
  font-size: 2.75em;
  font-family: $serif-font-stack;
}

#menu {
  font-size: 1.35em;

  a {
    text-decoration: none;
  }

  #primary,
  #secondary {
    height: calc(2em + 1px);

    .menu-item {
      @include vertical-align;
      flex: 1 0 auto;
      padding: 0 8px;

      & > a,
      & > span {
        display: inline-block;
        width: 100%;
        color: $dim-text-color;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        transition: color 0.3s, border-color 0.3s, padding 0.3s;

        &:hover,
        &:focus {
          outline: none;
          color: $bright-text-color;
          border-color: $bright-text-color;
          transition: color 0s, border-color 0s, padding 0.3s;
        }
      }
    }
  }

  #primary {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    .menu-item {
      & > span::after {
        content: '/';
        transition: opacity 0.3s;
      }

      &.active > span {
        color: $bright-text-color;
        border-color: $red;
      }
    }
  }

  #secondary {
    transition: height 0.3s, margin 0.3s;

    &.closed {
      height: 0;
      margin-bottom: 0;
    }

    .submenu {
      display: flex;
      visibility: hidden;
      height: 0;
      overflow-x: auto;
      overflow-y: hidden;

      &.active {
        visibility: visible;
        height: 100%;
      }
    }
  }
}

.loading #rendererContainer {
  opacity: 0;
  transform: scale(1.1);
}

#rendererContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: opacity 1.5s ease, transform 1.5s ease;

  canvas {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: $breakpoint-small) {
  #overlayContainer {
    bottom: 0;
  }

  #banner {
    font-size: 4em;
  }

  #menu {
    min-width: 600px;
  }

  #menu #primary,
  #menu #secondary {
    height: calc(1.2em + 1px);
    margin-bottom: 0.5em;
  }

  #menu #primary .menu-item.active span {
    padding: 0 50px;

    &::after {
      opacity: 0;
    }
  }
}

@media (max-width: $breakpoint-small-max) {
  #overlayContainer {
    left: 0;
  }
}
