include ../../partials/mixins

doctype html
html
  head
    +head("Minesweeper")
    link(rel="shortcut icon" href="../../assets/icons/mine.png")
    link(rel="stylesheet" type="text/css" href="../../uikit.css")
    link(rel="stylesheet" type="text/css" href="../../global.css")
    link(rel="stylesheet" type="text/css" href="style.css")

  body
    +container(["games", "minesweeper"])
      div(uk-grid)
        div(class="uk-width-medium@m")
          div(uk-sticky="offset: 40; media: @m")
            ul.uk-tab-left(uk-tab uk-switcher="connect: #switcher; swiping: false; animation: uk-animation-fade")
              li.uk-active: a(href="#") Beginner
              li: a(href="#") Intermediate
              li: a(href="#") Expert
            .uk-text-center.uk-text-muted.uk-text-uppercase.uk-text-small
              div(uk-form-custom="target: > * > #scaleLabel")
                select#scale
                  option(value="small") Small
                  option(value="medium") Medium
                  option(value="large") Large
                div Scale:
                  = ' '
                  span#scaleLabel
                  span(uk-icon="icon: triangle-down")
        .uk-width-expand
          .uk-flex-center(uk-grid)
            .uk-width-auto
              .uk-overflow-auto
                #game.size-small
                  #display.uk-flex.uk-flex-between.uk-flex-middle
                    #minesLeft
                    #face
                    #timer
                  #gridContainer
                    table#grid
            .uk-width-expand(style={'min-width': '200px'})
              .uk-overflow-auto
                table#highscores.uk-table.uk-table-divider.uk-table-small
                  thead
                    tr
                      th Name
                      th Difficulty
                      th Time
                  tbody
