include ../../partials/mixins

doctype html
html
  head
    +head("Minesweeper")
    link(rel="shortcut icon" href="../../assets/icons/mine.png")
    link(rel="stylesheet" type="text/css" href="../../uikit.css")
    link(rel="stylesheet" type="text/css" href="../../global.css")
    link(rel="stylesheet" type="text/css" href="style.css")

  body
    +container(["games", "minesweeper"])
      .uk-overflow-auto
        #game
          #display.uk-flex.uk-flex-between.uk-flex-middle
            #minesLeft
            #face
            #timer
          #gridContainer
            table#grid
