include ../../partials/mixins

doctype html
html
  head
    +head("Minesweeper")
    link(rel="shortcut icon" href="../../assets/icons/mine.png")
    link(rel="stylesheet" type="text/css" href="../../uikit.css")
    link(rel="stylesheet" type="text/css" href="../../global.css")
    link(rel="stylesheet" type="text/css" href="style.css")

  body
    +container(["games", "minesweeper"])
      div(uk-grid)
        div(class="uk-width-medium@m")
          div(uk-sticky="offset: 40; media: @m")
            ul.uk-tab-left.uk-tab-stacked(uk-tab="connect: #highscores; swiping: false;")
              li.uk-active: a(href="#") Beginner
              li: a(href="#") Intermediate
              li: a(href="#") Expert
              li: a(href="#") Custom
            .uk-text-center.uk-text-muted.uk-text-uppercase.uk-text-small
              div(uk-form-custom="target: > * > #scaleLabel")
                select#scale
                  option(value="small") Small
                  option(value="medium") Medium
                  option(value="large") Large
                div Scale:
                  = ' '
                  span#scaleLabel
                  span(uk-icon="icon: triangle-down")
        .uk-width-expand
          .uk-flex-center(uk-grid)
            .uk-width-auto
              .uk-overflow-auto
                #game.size-small
                  #display.uk-flex.uk-flex-between.uk-flex-middle
                    #minesLeft
                    #face
                    #timer
                  #gridContainer
                    table#grid
            .uk-width-expand(style={'min-width': '300px'})
              h3 Highscores
              #highscores.uk-switcher
                each difficulty in ['beginner', 'intermediate', 'expert']
                  .uk-overflow-auto
                    table.uk-table.uk-table-divider.uk-table-small(id='highscores-' + difficulty)
                      thead
                        tr
                          th.uk-table-expand Name
                          th Time
                      tbody
                div
    #customGameModal(uk-modal="esc-close: false; bg-close: false")
      .uk-modal-dialog
        .uk-modal-header
          h2.uk-modal-title Custom game
        .uk-modal-body
          input#rows.uk-input(type="number")
          input#cols.uk-input(type="number")
          input#mines.uk-input(type="number")
        .uk-modal-footer.uk-text-right
          button#initialize.uk-button.uk-button-primary(disabled) Ok
