$base-cell-size: 16px;
$spritesheet-url: '../../assets/spritesheets/minesweeper.png';
$scales: (
  'small': 20px / $base-cell-size,
  'medium': 30px / $base-cell-size,
  'large': 40px / $base-cell-size,
);

$white: white;
$lightgray: lightgray;
$gray: gray;

$inset-border-color: $gray $white $white $gray;

#secret {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: $white;
}

#controls {
  text-align: center;
  margin-bottom: 10px;
}

#highscores {
  margin-bottom: 10px;
}

#game {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
  background-color: $lightgray;

  #gridContainer {
    border: 3px solid $white;
    border-color: $inset-border-color;
  }

  #grid {
    width: 0;
    table-layout: fixed;
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
  }
}

#display {
  min-width: 150px;
  margin: 0 auto 5px;
  border: 2px solid $white;
  border-color: $inset-border-color;
  padding: 4px;

  .number {
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    background-image: url($spritesheet-url);
  }

  #minesLeft,
  #timer {
    border: 1px solid $white;
    border-color: $inset-border-color;
    line-height: 1;
  }

  #face {
    background-color: silver;
    background-image: url($spritesheet-url);
  }
}

.cell {
  background-color: silver;
  background-image: url($spritesheet-url);
}

.scoreTable th:last-child,
.scoreTable td:last-child {
  text-align: right;
}

@each $name, $scale in $scales {
  #game.size-#{$name} {
    #display {
      .number {
        width: 13px * $scale;
        height: 23px * $scale;
        background-size: (144px * $scale) (81px * $scale);

        @for $i from 0 through 9 {
          &.n#{$i} {
            background-position: ($i * -13px * $scale) (-32px * $scale);
          }
        }

        &.dash {
          background-position: (10 * -13px * $scale) (-32px * $scale);
        }
      }

      #face {
        width: 26px * $scale;
        height: 26px * $scale;
        background-size: (144px * $scale) (81px * $scale);
        background-position: (-26px * $scale) (-55px * $scale);

        &.surprise {
          background-position: (2 * -26px * $scale) (-55px * $scale);
        }

        &.win {
          background-position: (4 * -26px * $scale) (-55px * $scale);
        }

        &.lose {
          background-position: (3 * -26px * $scale) (-55px * $scale);
        }

        &:active {
          background-position: 0 (-55px * $scale);
        }
      }
    }

    .cell {
      width: $base-cell-size * $scale;
      height: $base-cell-size * $scale;
      background-size: (144px * $scale) (81px * $scale);

      &.closed {
        background-position: (5 * -$base-cell-size * $scale) (-$base-cell-size * $scale);

        &:active {
          background-position: 0 0;
        }
      }

      &.mine {
        background-position: 0 (-$base-cell-size * $scale);
      }

      &.redmine {
        background-position: (2 * -$base-cell-size * $scale) (-$base-cell-size * $scale);
      }

      &.xmine {
        background-position: (-$base-cell-size * $scale) (-$base-cell-size * $scale);
      }

      &.flag {
        background-position: (4 * -$base-cell-size * $scale) (-$base-cell-size * $scale);
      }

      &.mark {
        background-position: (3 * -$base-cell-size * $scale) (-$base-cell-size * $scale);
      }

      @for $i from 0 through 8 {
        &.open#{$i} {
          background-position: ($i * -$base-cell-size * $scale) 0;
        }
      }
    }
  }
}
