include ../../partials/mixins

doctype html
html
  head
    +head('Fireball')
    link(rel='shortcut icon', href='/img/icons/fireball.png')
    link(rel='stylesheet', type='text/css', href='/uikit.scss')
    link(rel='stylesheet', type='text/css', href='/random/fireball/style.scss')
    script(type='module', src='/random/fireball/script.js')

  body
    +floatingBreadcrumbs('random', 'fireball')
    #rendererContainer
