include ../../partials/mixins

doctype html
html
  head
    +head("Fireball")
    link(rel='shortcut icon', href='../../assets/icons/fireball.png')
    link(rel='stylesheet', type='text/css', href='../../uikit.css')
    link(rel='stylesheet', type='text/css', href='style.css')

  body
    +floatingBreadcrumbs("random", "fireball")
    #rendererContainer
